#slides {
    position: relative;
    height: 300px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls {
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    border: 1px solid #0a3c59;
    background: #333;
    color: whitesmoke;
    border-radius: 15%;
}

.controls:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #426a85;
    color: #240424;
}

.controls:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #6ab7eb;
    color: #fff;
}